<div class="container" style="margin-top: 8%; border: 1px solid green;padding: 15px;" >
	<h3>Available Surveys outcome</h3>
	<table class='table'>
		<tr>
			<th>Surveys Id</th>
			<th>Question 1</th>
			<th>Question 2</th>
			<th>Question 3</th>
			<th>Question 4</th>
			<th>Question 5</th>
		
		</tr>
		<% _.each(surveyResponse, function(surveyResponse) { %>
		<tr data-id="<%= surveyResponse.SurveyId %>" data-model="surveyResponse">

		<td><%= surveyResponse.SurveyId%></td>
			<td><%= surveyResponse.Answer1 %></td>
			<td><%= surveyResponse.Answer2 %></td>
			<td><%= surveyResponse.Answer3 %></td>
			<td><%= surveyResponse.Answer4 %></td>
			<td><%= surveyResponse.Answer5 %></td>
		</tr> 
		<tr>
		
		<% }) %>
	</table>
</div>


