<div class="container" style="margin-top: 8%; border: 1px solid green;padding: 15px;" >
	<h3>Update Surveys Details</h3>
	<form action="/Surveys/update/" method="POST">
	<input type="hidden" name="Id" value="<%= surveys.Id %>"/>
	<table class='table'>
		
		<tr>
			<th>Title</th><td><input type="text" value="<%= surveys.Title %>" name="Title"/></td>
		</tr>
		<tr>
			<th>Description</th><td><input type="text" value="<%= surveys.Description %>" name="Description"/></td>
		</tr>
		<tr>
			<th>Created Date</th><td><input type="text" value="<%= surveys.CreatedDate %>" name="CreatedDate"/></td>
		</tr>
		<tr>
			<th>Expires On</th><td><input type="text" value="<%= surveys.ExpiresOn %>" name="ExpiresOn"/></td>
		</tr>
		<tr>
			<th>Created By</th><td><input type="text" value="<%= surveys.CreatedBy %>" name="CreatedBy"/></td>
		
		</tr>
		<tr>		
		<td>
			<input type="submit" class="btn btn-sm btn-danger" value="Update"/>
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		</form></td>
			
		</tr> 

		
	</table>
</div>
